*~
*.o
*.a
*.so
*.ssm
*.swp
*.swo
bin
ssm/*.ssm
ssm/maestro_* 
ssm/profile*
# the executables
src/maestro
src/nodelogger
src/mserver
src/expcatchup
src/madmin
src/nodeinfo
src/logreader
src/getdef
src/tictac
# cscope database
cscope.out
# Test suite submission script
submitTests.sh
# NFS files
.nfs*
